#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=chromium-browser --disable-gpu --profile-directory=Default --app-id=blpcfgokakmgnkcojhhkbfbldkacnbeo
Icon=/usr/share/pixmaps/chromixium/chrome-blpcfgokakmgnkcojhhkbfbldkacnbeo-Default.png
StartupWMClass=crx_blpcfgokakmgnkcojhhkbfbldkacnbeo
NoDisplay=false
Categories=Network;Internet;AudioVideo;
