#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Drive
#Exec=chromium-browser --disable-gpu --profile-directory=Default --app-id=apdfllckaahabafndbhieahigkjlhalf
Exec=chromium-browser --disable-gpu https://drive.google.com/drive/my-drive
Icon=/usr/share/pixmaps/chromixium/chrome-apdfllckaahabafndbhieahigkjlhalf-Default.png
StartupWMClass=crx_apdfllckaahabafndbhieahigkjlhalf
NoDisplay=false
Categories=Utility;