#!env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Search
Exec=chromium-browser --disable-gpu --profile-directory=Default --app-id=coobgpohoikkiipiblmjeljniedjpjpf
Icon=chrome-coobgpohoikkiipiblmjeljniedjpjpf-Default
StartupWMClass=crx_coobgpohoikkiipiblmjeljniedjpjpf
NoDisplay=false
Categories=Network;Internet;

