#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Sheets
Exec=chromium-browser --disable-gpu --profile-directory=Default --app-id=felcaaldnbdncclmgdcncolpebgiejap
Icon=/usr/share/pixmaps/chromixium/chrome-felcaaldnbdncclmgdcncolpebgiejap-Default.png
StartupWMClass=crx_felcaaldnbdncclmgdcncolpebgiejap
NoDisplay=false
Categories=Office;