#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Spotify
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=cnkjkdjlofllcpbemipjbcpfnglbgieh
Icon=chrome-cnkjkdjlofllcpbemipjbcpfnglbgieh-Default
StartupWMClass=crx_cnkjkdjlofllcpbemipjbcpfnglbgieh
NoDisplay=true

