#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pinterest
Exec=chromium-browser --disable-gpu --app=https://www.pinterest.com/
Icon=/usr/share/pixmaps/chromixium/pinterest.png
StartupWMClass=www.pinterest.com
NoDisplay=true