#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Finance
Exec=chromium-browser --disable-gpu --app=https://www.google.com/finance
Icon=/usr/share/pixmaps/chromixium/chrome-fcgckldmmjdbpdejkclmfnnnehhocbfp-Default.png
StartupWMClass=www.google.com__finance
NoDisplay=true
