#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Maps
Exec=chromium-browser --app=https://www.google.com/maps
Icon=/usr/share/pixmaps/chromixium/chrome-lneaknkopdijkpnocmklfnjbeapigfbh-Default.png
StartupWMClass=www.google.com__maps
NoDisplay=false
Categories=Network;Internet;