#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=reddit
Exec=chromium-browser --disable-gpu --app=http://www.reddit.com
Icon=/usr/share/pixmaps/chromixium/reddit.png
StartupWMClass=www.reddit.com
NoDisplay=true