#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=BBC iPlayer
Exec=/usr/bin/chromium-browser --app=http://www.bbc.co.uk/iplayer
Icon=chrome-http___www.bbc.co.uk_iplayer
StartupWMClass=www.bbc.co.uk__iplayer
NoDisplay=true