#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=LinkedIn
Exec=chromium-browser --disable-gpu --app=https://www.linkedin.com/
Icon=/usr/share/pixmaps/chromixium/linkedin.png
StartupWMClass=www.linkedin.com
NoDisplay=true