#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=chromium-browser --disable-gpu --app=https://www.youtube.com/
Icon=/usr/share/pixmaps/chromixium/chrome-blpcfgokakmgnkcojhhkbfbldkacnbeo-Default.png
StartupWMClass=www.youtube.com
Categories=Network;Internet;Multimedia;Video;
