#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Blogger
Exec=chromium-browser --disable-gpu --app=https://www.blogger.com/home
Icon=/usr/share/pixmaps/chromixium/blogger.png
StartupWMClass=www.blogger.com__home
NoDisplay=true
