#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Tumblr
Exec=/usr/bin/chromium-browser --app=https://www.tumblr.com/
Icon=chrome-https___www.tumblr.com_
StartupWMClass=www.tumblr.com
NoDisplay=true