#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Grooveshark
Exec=/usr/bin/chromium-browser --app=http://grooveshark.com/
Icon=chrome-http___grooveshark.com_
StartupWMClass=grooveshark.com
NoDisplay=true