#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Play Books
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=mmimngoggfoobjdlefbcabngfnmieonb
Icon=chrome-mmimngoggfoobjdlefbcabngfnmieonb-Default
StartupWMClass=crx_mmimngoggfoobjdlefbcabngfnmieonb
NoDisplay=true
