#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Accounts
Exec=chromium-browser --disable-gpu --app=https://accounts.google.com/ServiceLogin
Icon=/usr/share/pixmaps/chromixium/google.png
StartupWMClass=accounts.google.com__ServiceLogin
Categories=System;