#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Vine
Exec=/usr/bin/chromium-browser --app=https://vine.co/
Icon=chrome-https___vine.co_
StartupWMClass=vine.co
NoDisplay=true