#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google+
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=dlppkpafhbajpcmmoheippocdidnckmm
Icon=chrome-dlppkpafhbajpcmmoheippocdidnckmm-Default
StartupWMClass=crx_dlppkpafhbajpcmmoheippocdidnckmm
NoDisplay=true
