#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google+
Exec=chromium-browser --app=https://plus.google.com
Icon=/usr/share/pixmaps/chromixium/chrome-dlppkpafhbajpcmmoheippocdidnckmm-Default.png
StartupWMClass=https://plus.google.com/
NoDisplay=false
Categories=Network;Internet;