#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=/usr/bin/chromium-browser --app=https://www.youtube.com/
Icon=/usr/share/pixmaps/chromixium/youtube.png
StartupWMClass=crx_blpcfgokakmgnkcojhhkbfbldkacnbeo
Categories=Multimedia;Video;
