#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pinterest
Exec=/usr/bin/chromium-browser --app=https://www.pinterest.com/
Icon=chrome-https___www.pinterest.com_
StartupWMClass=www.pinterest.com
NoDisplay=true