#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=VK
Exec=/usr/bin/chromium-browser --app=http://vk.com/
Icon=chrome-http___vk.com_
StartupWMClass=vk.com
NoDisplay=true
