#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Drive
#Exec=/usr/bin/chromium-browser "--app=https://drive.google.com/drive/#my-drive"
Exec=chromium-browser https://drive.google.com/drive/my-drive
Icon=chrome-apdfllckaahabafndbhieahigkjlhalf-Default
StartupWMClass=drive.google.com__drive
NoDisplay=false
Categories=Utility;