#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Instagram
Exec=/usr/bin/chromium-browser --app=http://instagram.com/
Icon=chrome-http___instagram.com_
StartupWMClass=instagram.com
NoDisplay=true
