#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Accounts
Exec=/usr/bin/chromium-browser --app=https://accounts.google.com/ServiceLogin
Icon=chrome-coobgpohoikkiipiblmjeljniedjpjpf-Default.png
StartupWMClass=accounts.google.com__ServiceLogin
Categories=System;