#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Twitter
Exec=chromium-browser --disable-gpu --app=https://twitter.com
Icon=/usr/share/pixmaps/chromixium/twitter.png
StartupWMClass=twitter.com
NoDisplay=true
