#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Pixlr
Exec=chromium-browser --disable-gpu --profile-directory=Default --app=https://pixlr.com
Icon=/usr/share/pixmaps/chromixium/pixlr_logo.png
StartupWMClass=pixlr.com
NoDisplay=true
