#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Calendar
Exec=/usr/bin/chromium-browser "--app=https://www.google.com/calendar/render?pli=1"
Icon=chrome-https___www.google.com_calendar_render_pli=1
StartupWMClass=crx_ejjicmeblgpmajnghnpcppodonldlgfn
NoDisplay=true