#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail
Exec=/usr/bin/chromium-browser --app=https://www.gmail.com
Icon=/usr/share/pixmaps/chromixium/gmail.png
StartupWMClass=www.gmail.com
Categories=Network;Internet;